h1{
	color:#FFFFFF;
	font-size: 14px;
}

h5{
	color:#000000;
	font-weight: bold;
	text-align: center;
}
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    color: #008000;
}
.form-control{
max-width: 330px;
}

body {
  background-image: url("wine2.jpg");
  align: center;
}

.form-signin button {
    margin-top: 10px;
    color: #FFFFFF;
    background-color: #4CAF50;
    border: 2px solid #FFFFFF;
    text-align: center;
    font-size: 16px;
    border-radius: 12px;
    -webkit-transition-duration: 0.4s;
      transition-duration: 0.4s;
}

.form-signin button:hover {
    background-color: #A1EC7C;
    border: 2px solid #FFFFFF;
}

h4{
    color: #008000;
}
a{
    color: #4CAF50;
}

a:hover {
  color: #4CAF50;
}

input {
    box-shadow: 0 0 3px #C1C1C0;
    margin: 10px;
    size: 150px;
    text-align: left;
    font-size: 14px;
    border-radius: 6px;
   }

ul.nav navbar-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a, .dropbutton {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbutton {
  background-color: grey;
  font-color: #000000;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}
#wines {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #FFFFFF;

}

#wines td, #wines th {
  border: 1px solid #ddd;
  padding: 8px;
}

#wines tr:nth-child(even){
background-color: #f2f2f2;
}

#wines tr:hover {
background-color: #ddd;
}

#wines th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}


table.create {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 0px;
  width: 70%;
  padding: 20px;
  align: center;
}

select {
width: 180px;
margin: 10px;
}

table#create {
    width:50%;
    margin-left:25%;
    margin-right:25%;
    background-color: rgba(252,252,249,0.5);
  }

.navbar {
      position: left;
      }

#submit {
     position: relative;
     text-align: center;

}
.item1{
grid-area: header;
}
.item2{
grid-area: main;
}

.item4{
grid-area: footer;
}
.grid-container{
display: grid;
grid-template-areas:
'header'
'main'
'footer';
grid-gap: 10px;
padding: 10px;
}

.grid-container > div {
background-color: #FFFFFF;
text-align: left;
padding: 10px 0;
font-size: 16px;
width:50%;
margin-left: 25%;
margin-right: 25%;
    padding-inline-start: 15px;
    padding-inline-end: 15px;
}

.searchById{
align: center;
}

.container_check {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container_check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

#checkbox td {
  padding: 8px;
 }

 #checkbox{
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
 }

 .fields {

 	background-color: #fafafa;
 	border: 1px solid #cacece;
 	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
 	padding: 9px;
 	border-radius: 3px;
 	display: inline-block;
 	position: relative;
 }

 label {
     color:#000000;
     font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
     font-weight: bold;
     margin-left: 8px;
 }

 input[type=checkbox]:hover {
     box-shadow:0px 0px 10px #1300ff;
 }

 table#update {
     width:30%;
     margin-left:35%;
     margin-right:35%;
     background-color: rgba(252,252,249,0.5);
     padding-left: 15px;
     margin-bottom: 15px;
   }

  #update td {
      padding-left: 12px;
      font-weight: bold;
    }
     #update th {
          padding-top: 5px;
          padding-bottom: 5px;
          text-align: center;
        }

    input[type=submit] {
        margin-top: 10px;
        color: #FFFFFF;
        background-color: #4CAF50;
        border: 2px solid #FFFFFF;
        text-align: center;
        font-size: 16px;
        border-radius: 8px;
        box-shadow: 0 0 3px #C1C1C0;
        -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
    }

    input[type=submit]:hover {
        background-color: #A1EC7C;
        border: 2px solid #FFFFFF;
    }

    input[type=text] {
            margin-top: 10px;
            text-align: left;
            font-size: 14px;
            border-radius: 6px;
            box-shadow: 0 0 3px #C1C1C0;
            -webkit-transition-duration: 0.4s;
              transition-duration: 0.4s;
        }

    #create td {
         padding-left: 12px;
         font-weight: bold;
     }

    #create th {
          padding-top: 5px;
          padding-bottom: 5px;
          text-align: center;
     }